.container {
	max-width: 960px;
	width: 90%;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.column {
	flex-basis: 16.666%;
	box-sizing: border-box;
	padding: 8px;
}

.box {
	position: relative;
	height: 110px;
	width: 150px;
	background-color: #5f92ff;
	border-radius: 6%;
	outline-style: solid;
	outline-color: rgb(126, 126, 126);
	outline-width: 1px;
}

p{
	margin-left: 1%;
	margin-right: 15%;
}

#img1{
	width: 100%;
}

.tn {
	width: 150px;
	height: 20px;
	background-color: rgb(221, 221, 221);
	margin-top: 10px;
	padding-top: 5px;
	position: absolute;
	bottom: 0px;
	text-align: center;
	border-bottom-left-radius: 6%;
	border-bottom-right-radius: 6%;
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1024px) {
	.column {
		flex-basis: 33.33%;
	}
}

@media screen and (max-width: 768px) {
	.column {
		flex-basis: 50%;
	}
}

@media screen and (max-width: 414px) {
	.column {
		flex-basis: 100%;
	}
}